{include file="common/_meta" /}

<title>栏目设置</title>
</head>
<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-category-add">
		<div id="tab-category" class="HuiTab">
			<div class="tabBar cl">
				<span>基本设置</span>
				<!-- <span>模版设置</span>
				<span>SEO</span> -->
			</div>
			<div class="tabCon">
				
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red">*</span>
						上级栏目：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<span class="select-box">
						<select class="select" id="pid" name="pid">
							<option value="0">顶级分类</option>
							{volist name="category" id="vo"}
							<option value="{$vo.id}" {if $data.pid == $vo.id}selected = "selected"{/if}><?php echo str_repeat('-', $vo['level']*4)?>{$vo.category}</option>
							{/volist}
						</select>
						</span>
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">
						<span class="c-red">*</span>
						分类名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.category}" placeholder="" id="category" name="category">
					</div>
					<div class="col-3">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">排序：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="{$data.sort}" placeholder="" id="sort" name="sort">
					</div>
					<div class="col-3">
					</div>
				</div>
				
				
				
			</div>
			
		</div>
		<input type="hidden" id="id" name="id" value="{$data.id}">
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="submit" onclick="add_category()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>

{include file="common/_footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__H_ui.admin__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__H_ui.admin__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__H_ui.admin__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__H_ui.admin__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#tab-category").Huitab({
		index:0
	});
	$("#form-category-add").validate({
		rules:{
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//$(form).ajaxSubmit();
			//parent.$('.btn-refresh').click();
		}
	});
});
function add_category(){
	var id = $("#id").val();
	var pid = $("#pid").val();
    var category = $("#category").val();
    var sort = $("#sort").val();
   
    if(!pid || !category || !sort){
        layer.msg('请填写完整信息', {icon:5,time:1000});
    }else{
        $.ajax({
            type: 'POST',
            url:'do_category_edit',
            data: {
            	id:id,
                pid:pid,
                category:category,
                sort:sort
            },
            dataType: 'json',
            success: function (data) {
                // console.log(data);
                if(data == '1'){
                    layer.msg('修改成功', {icon:1,time:1000});

                   	window.setTimeout(function (){
                    	window.location.href="category.html";
                    }, 1000);
                }else{
                    layer.msg(data, {icon:2,time:1000});
                }
            }
        });
    }
}

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>