{include file="common/_meta" /}
<title>文章列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章管理 <span class="c-gray en">&gt;</span> 文章列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
	 <span class="select-box inline">
		<select name="" class="select">
			<option value="0">全部分类</option>
			<option value="1">分类一</option>
			<option value="2">分类二</option>
		</select>
		</span> 日期范围：
		<input type="text" onfocus="WdatePicker({ 
			maxDate:'#F{  $dp.$D(\'logmax\')||\'%y-%M-%d\'  }' 
			})" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ 
			minDate:'#F{  $dp.$D(\'logmin\')  }',maxDate:'%y-%M-%d'
			 })" id="logmax" class="input-text Wdate" style="width:120px;">
		
		<input type="text" name="" id="" placeholder=" 文章名称" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜文章</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" data-title="添加文章" data-href="/index.php/admin/Article/article_add" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加文章</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover t able-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="80">ID</th>
					<th width="120">标题</th>
					<th>描述</th>
					<th width="80">分类</th>
					<th width="80">作者</th>
					<th width="120">更新时间</th>
					<!-- <th width="75">允许评论</th> -->
					<th width='50'>文章封面</th>
					<th width="60">是否推荐</th>
					<th width="60">发布状态</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name='res' id='vo'}
				<tr class="text-c">
					<td><input type="checkbox" value="" name=""></td>
					<td>{$vo.id}</td>
					<td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="showContent({$vo.id},'{$vo.title}')" title="查看">{$vo.title}</u></td>
					<td>{$vo.presentation}</td>
					{if $vo.art_type == 0}
						<td>全部栏目</td>
					{else/}
						{volist name="$vo.category" id="cate"}
						<td>{$cate.category}</td>
						{/volist}
					{/if}
					<td>{$vo.author}</td>
					<td>{$vo.update_time|date="Y-m-d h:i:s",###}</td>
					<td><img src="{$vo.image}" width='50'></td>
					<td>
						{if $vo.hot =="1"}
							<span class="label label-success radius is_hot" style="cursor: pointer;" data_id="{$vo.id}">已推荐</span>
						{else/}
							<span class="label label-defaunt radius is_hot" style="cursor: pointer;" data_id="{$vo.id}">未推荐</span>
						{/if}
					</td>
					<td class="td-status">
						{if $vo.status =="1"}
							<span class="label label-success radius">已发布</span>
						{else/}
							<span class="label label-defaunt radius">已下架</span>
						{/if}
					</td>
					<td class="f-14 td-manage">
						{if $vo.status =="1"}
							<a style="text-decoration:none" onClick="article_stop(this,{$vo.id})" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
						{else/}
							<a style="text-decoration:none" onClick="article_start(this,{$vo.id})" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
						{/if}
						 <a style="text-decoration:none" class="ml-5" data-title="编辑文章" data-href="/index.php/admin/Article/article_edit?id={$vo.id}" onclick="Hui_admin_tab(this)" href="javascript:;" title="编辑">
						 		<i class="Hui-iconfont">&#xe6df;</i>
						 </a> 
						 <a style="text-decoration:none" class="ml-5" onClick="article_del(this,{$vo.id})" href="javascript:;" title="删除">
							 	<i class="Hui-iconfont">&#xe6e2;</i>
						 </a>
					 </td>
				</tr>
				{/volist}
			</tbody>
		</table>
		<div style="margin-top:15px; text-align:center;" id="page11"></div>
	</div>
</div>

{include file="common/_footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__H_ui.admin__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__H_ui.admin__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__H_ui.admin__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__H_ui.admin__/myself/js/page.js"></script>
<script type="text/javascript">
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,4]}// 制定列不参与排序
	]
});

/*文章-添加*/
function article_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*文章-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url,
	});
	layer.full(index);
}
/*文章-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'del_art',
			data:{id:id},
			dataType: 'json',
			success: function(data){
				if(data == 1){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}else{
					layer.msg(data,{icon:2,time:1000});
				}
			}
		});		
	});
}

/*文章-审核*/
function article_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过','取消'], 
		shade: false,
		closeBtn: 0
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*文章-下架*/
function article_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$.ajax({
		  type:'POST',
		  url: 'article_status',
		  data: {id:id,status:0},
		  success: function (data){
		  	if(data == ''){
		  		layer.msg('下架失败',{icon: 5,time:1000});
		  	}
	  		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,'+data+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
			$(obj).remove();
			layer.msg('已下架!',{icon: 5,time:1000});
		  },
		  dataType: 'json'
		});
	});
}

/*文章-发布*/
function article_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$.ajax({
		  type:'POST',
		  url: 'article_status',
		  data: {id:id,status:1},
		  success: function (data){
		  	if(data == ''){
		  		layer.msg('发布失败',{icon: 5,time:1000});
		  	}
	  		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,'+data+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
			$(obj).remove();
			layer.msg('已发布!',{icon: 6,time:1000});
		  },
		  dataType: 'json'
		});
	});
}
/*文章-申请上线*/
function article_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
// 展示文章
function showContent(id,title){
	layer.open({
        type: 2,
        title: title,
        shadeClose: true,
        shade: 0,   //背景透明
        area: ['560px', '90%'],
        content: '/index.php/admin/Article/showContent/id/' + id //iframe的url
    }); 
}
laypage({
    cont: 'page11',
    pages: {$totalpage}, //假设我们获取到的是18（后端计算完总页数后将总页数值传过来，放在这里即可（类似$totalpage））.
 	curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
 		var page = location.search.match(/page=(\d+)/);
        return page ? page[1] : 1;//如果没有页数显示时，默认是第一页
    }(), 
    jump: function(e, first){ //触发分页后的回调
        if(!first){ //一定要加此判断，否则初始时会无限刷新
            location.href=setParam("page",e.curr);
        }
    }
});
$(function(){
	$('.is_hot').on('click',function (){
		var hotState = $(this);
		var id = hotState.attr('data_id');
		$.ajax({
                type: "POST",
                url: "do_hot",
                data:  {
                          id:id
                        },
                success: function (data) {
                            if (data == 1) {
                                location.reload();
                            } else {
                                layer.msg(data, {icon:2,time:1000});
                            }
                         }
         });
	});
});
</script> 
</body>
</html>