<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">

                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>广告或代理</th>
                            <th>区域</th>
                            <th>名字</th>
                            <th>电话</th>
                            <th>审核</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                       	        {volist name="list" id="vo"}
                                    <tr>
                                        <td>{$vo.agency}</td>
                                        <td>{$vo.area}</td>
                                        <td>{$vo.username}</td>
                                        <td>{$vo.tel}</td>
                                        <td>
                                            <a href="javascript:void(0)" data_id="{$vo.id}" data_state="1" class="pass">通过</a>
                                            <a href="javascript:void(0)" data_id="{$vo.id}" data_state="0" class="reject">驳回</a>
                                        </td>
                                    </tr>
                                {/volist}
                        </tbody>
                    </table>
                    {$list->render()}
                </div>

            </div>
        </div>
    </div>
</div>